<div id="footer">
  <div class="gooey1"></div>
  <div class="gooey2"></div>
  <div class="gooey3"></div>
  <div class="gooey4"></div>
  <div class="gooey5"></div>
  <div class="gooey6"></div>
  <div class="gooey7"></div>
  <div id="footer-div">
    <div>
      <a href="https://www.instagram.com/">Work</a><br>
      <a href="">Projects</a>
    </div>

    <p>Get industry insights and creative <br> inspiration straight to your inbox.</p>
  </div>
  
  <h1>IntelliCity</h1>
  <div id="footer-bottom">
      <h4>Copyright © IntelliCity</h4>
      <h4>New Delhi, IN</h4>
      <h4><a href="https://www.instagram.com/">Instagram</a></h4>
      <a href="">Linkedin</a>
  </div>
</div>