<nav>
    <a href="/">  <img src="css/logo1.png"
        alt="" style="width: 40%;"></a>

  <div id="nav-part2">
      <h4><a href="/">Home</a></h4>
      <h4><a href="/works">Works</a></h4>
      <!-- <h4><a href="#">Projects</a></h4> -->

      <% if(user) { %>
          <h4><a>Hi, <%= user.name.split(" ")[0] %></a></h4>
          <h4><a href="/logout">Logout</a></h4>
          <% } else { %>
              <h4><a href="/login">Sign in</a></h4>
              <% } %>
 
  </div>
  <h3>Menu</h3>
</nav>