<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs'); %>

<body>
    <!-- <div id="loader">
        <h1>INNOVATE</h1>
        <h1>INTEGRATE</h1>
        <h1>INSPIRE</h1>
    </div> -->
    <div id="fixed-image">

    </div>
    <div id="main">

        <div id="page1">
            <%- include('./includes/nav.ejs'); %>
            <div id="center">
                <div id="left">
                    <h3>IntelliCity Tech Solutions is a leading innovator in the realm of smart city solutions, dedicated to shaping urban landscapes into efficient, connected, and sustainable environments.</h3>
                </div>
                <div id="right">
                    <h1>SOLUTIONS <br>
                        THAT <br>
                        INSPIRE</h1>
                </div>

            </div>
            <div id="hero-shape">
                <div id="hero-1"></div>
                <div id="hero-2"></div>
                <div id="hero-3"></div>
            </div>
            <video autoplay loop muted src="css/video.mp4"></video>
        </div>
        <div id="page2">
            <div id="moving-text">
                <div class="con">
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                    <h1>INTEGRATE</h1>
                    <div id="gola"></div>
                    <h1>INSPIRE</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                    <h1>INTEGRATE</h1>
                    <div id="gola"></div>
                    <h1>INSPIRE</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                    <h1>INTEGRATE</h1>
                    <div id="gola"></div>
                    <h1>INSPIRE</h1>
                    <div id="gola"></div>
                </div>
            </div>
            <div id="page2-bottom">
                <h1>Our mission is to empower cities with cutting-edge technologies, fostering a seamless integration of smart infrastructure, data analytics, and sustainability practices.</h1>
                <div id="bottom-part2">
                    <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg"
                        alt="">
                    <p style="font-weight: 100;">We aim to create cities that are not only intelligent but also resilient, inclusive, and responsive to the evolving needs of their residents. We’re here to partner with you through every step of the process and know that
                        relationships are the most important things we build.</p>
                </div>
            </div>
            <div id="gooey">

            </div>
        </div>
        <div id="page3">
            <div id="elem-container">
                <div id="elem1" class="elem"
                    data-image="https://media.istockphoto.com/id/1152956520/photo/shanghai-city-network-technology.jpg?s=2048x2048&w=is&k=20&c=C5pr53ILSiqy5CTu9J44ULRKgHy-CCvPwJv5MdESOhA=">
                    <div class="overlay"></div>
                    <h2>INNOVATE</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1317903256/vector/smart-city-5g-technology-online-communication-network.jpg?s=2048x2048&w=is&k=20&c=k9NY_6VbGi3UzodqwaBJ4R22GgW-7Jz4eIXUwtWzjSc=">
                    <div class="overlay"></div>
                    <h2>CONNECT</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1466695065/photo/electricity-from-solar-panels-dams-and-wind-turbines-environmentally-friendly-renewable.jpg?s=2048x2048&w=is&k=20&c=uLYnhfupzb7vs_nmedo_whSGLDAzY2riw59SfCgmDTc=">
                    <div class="overlay"></div>
                    <h2>THRIVE</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1154285896/photo/hong-kong-night-city.jpg?s=2048x2048&w=is&k=20&c=oTEHd88tDmk3J3XVGWRN8oAKjZ5E1N_J1E1YJAaEETE=">
                    <div class="overlay"></div>
                    <h2>EMPOWER</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1315531273/photo/financial-district-and-business-centers-in-smart-city.jpg?s=2048x2048&w=is&k=20&c=U8bJRnC21S1374ur6Hew6HytjATSwsF0VYaezpDMKyE=">
                    <div class="overlay"></div>
                    <h2>REVOLUTIONIZE</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1201354362/photo/smart-city-and-communication-network-concept-5g-lpwa-wireless-communication.jpg?s=2048x2048&w=is&k=20&c=jqD-6whGlCWXQjM-Fkfo44aQzdptCZqz1Ao5Rp3hq_w=">
                    <div class="overlay"></div>
                    <h2>CATALYZE</h2>
                </div>
                <div class="elem"
                    data-image="https://media.istockphoto.com/id/1343387262/photo/the-hong-kong-city-skyline.jpg?s=2048x2048&w=is&k=20&c=loOT6buDranoJsvtI-ZM26D16v_k1DMZjMIyGULVVVk=">
                    <div class="overlay"></div>
                    <h2>ILLUMINATE</h2>
                </div>
            </div>
        </div>
        <div id="page4">
            <p><span><img src="/css/icon.png" style="width: .7vw; padding-bottom: .25vw;"></span>&nbsp;&nbsp;&nbsp;Core Offerings:<br><span style="font-size: 1vw; font-weight: 100; margin-left: 1.4vw;">(swipe to see more)</span></p>
            <br><br><br>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="border-left: 1px solid #c0bcb7;">
                      <h3>Smart Infrastructure:</h3>
                      <br>
                      <img src="https://plus.unsplash.com/premium_photo-1685148902867-0d917a4d2a67?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%;">
                      <br>
                      <p>IntelliCity specializes in designing and implementing smart infrastructure solutions, including advanced sensor networks, IoT devices, and connectivity systems. These innovations form the backbone of a city's intelligent ecosystem, enabling real-time data collection and analysis.</p>
                    </div>
                    <div class="swiper-slide" style="border-left: 1px solid #c0bcb7;">
                      <h3>Data Analytics:</h3>
                      <br>
                      <img src="https://media.istockphoto.com/id/966899060/photo/digital-signals-flying-over-highway-digital-transformation-internet-of-things.jpg?s=2048x2048&w=is&k=20&c=tQwiWiDszWoFOxtLAySItidg1skG_1rPLXz-Vtgi-ck=" style="width: 100%;">
                      <br>
                      <p>Leveraging the vast amounts of data generated by urban environments, our company excels in developing powerful analytics platforms. These platforms provide valuable insights into traffic patterns, energy consumption, waste management, and various other aspects crucial for efficient city planning.</p>
                    </div>
                    <div class="swiper-slide" style="border-left: 1px solid #c0bcb7;">
                      <h3>Connectivity Solutions:</h3>
                      <br>
                      <img src="https://media.istockphoto.com/id/1459488773/photo/smart-city-and-communication-network-concept-5g-iot-telecommunication.jpg?s=2048x2048&w=is&k=20&c=gvwGgBLyrg9qXq4M1idjcf_uNC9YcWm5HcYYk1ra0Bg=" style="width: 100%;">
                      <br>
                      <p>IntelliCity understands the importance of robust connectivity in a smart city. We offer state-of-the-art solutions to ensure seamless communication between devices, enabling the development of interconnected services and applications that enhance the overall urban experience.</p>
                    </div>
                    <div class="swiper-slide" style="border-left: 1px solid #c0bcb7;">
                      <h3>Sustainability Initiatives:</h3>
                      <br>
                      <img src="/css/download.png" style="width: 100%;">
                      <br>
                      <p>Committed to creating eco-friendly urban spaces, our company integrates sustainability solutions into smart city projects. This includes energy-efficient systems, waste reduction strategies, and the promotion of renewable energy sources, contributing to a greener and more sustainable future.</p>
                    </div>
                    <div class="swiper-slide" style="border-left: 1px solid #c0bcb7;">
                      <h3>Smart Platforms:</h3>
                      <br>
                      <img src="/css/download1.jpeg" style="width: 100%;">
                      <br>
                      <p>IntelliCity places emphasis on citizen-centric solutions. We develop platforms that encourage active citizen participation, allowing residents to provide feedback, access information, and actively contribute to the decision-making processes within their communities.</p>
                    </div>
                </div>
    
            </div>
          </div>
        <div id="page5">
            
        </div>
        <div id="full-scr">
            <div id="full-div1">

            </div>
        </div>
    </div>
    <%- include('./includes/footer.ejs'); %>
    <%- include('./includes/scripts.ejs'); %>
</body>
</html>