<!doctype html>
<html>
  <%- include('./includes/head.ejs'); %>
  <body>
    <div id="main">
      <div id="workpage1">
        <%- include('./includes/nav.ejs'); %>
        <div class="worktitle">
          <br><br><br><br><br><br><span id="spantitle">&nbsp;TURNING</span><br>
          <div style="z-index: 99; position: relative;" id="spantitle">
            <span style="margin-left: 18%;">IDEAS&nbsp;INTO</span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REALITY</span>
          </div>

        </div>
        <div id="workgooey">

        </div>
        <br><br><br><br><br>
       <div id="worktdiv">
        <img src="https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e2_Studio%2520Image-p-500.jpg" alt="" srcset="">
        <p>We love creating experiences from idea to reality, but are also comfortable jumping into a project at any point in the process, from Creative, to Design, to Project Management and Implementation.</p>
       </div>
      </div>
      <div id="workpage2">
        <br><br><br><br><br>
        <div class="workinfodiv">
          <h1>CREATE</h1>
          <div id="divwork">
            <p>Crafting the concepts and experiences. Connecting the dots and amplifying the story.</p>
            <div style="width: 100%;">
              <h2><span>01</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strategy & Ideation</h2>
              <h2><span>02</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Concept Development</h2>
              <h2><span>03</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Environmental Design</h2>
              <h2><span>04</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphic Design</h2>
              <h2><span>05</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visual Merchandising</h2>
              <h2><span>06</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3D Renderings</h2>
              <h2><span>07</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consumer Experience</h2>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <div class="workinfodiv">
          <h1 style="font-size: 17.8vw;">INTEGRATE</h1>
          <br><br>
          <div id="divwork">
            <p>Production, strategy, partnership, and materials. The end point is more than the sum of its parts.</p>
            <div id="" style="width: 100%;">
              <h2><span>01</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Management</h2>
              <!-- <hr style="color: #c89867;"> -->
              <h2><span>02</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Budget Ownership</h2>
              <h2><span>03</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technical Drawings</h2>
              <h2><span>04</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital & Technology Integration</h2>
              <h2><span>05</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Fabrication</h2>
              <h2><span>06</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphics Production</h2>
              <h2><span>07</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Material Samples & Prototyping</h2>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <div class="workinfodiv">
          <h1 style="font-size: 17vw;">IMPLEMENT</h1>
          <br><br>
          <div id="divwork">
            <p>Onsite guidance, installation and oversight to take each project through to the finish line.</p>
            <div style="width: 100%;">
              <h2><span>01</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Onsite Project Management</h2>
              <!-- <hr style="color: #c89867;"> -->
              <h2><span>02</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installation Oversight</h2>
              <h2><span>03</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sustainability Consulting</h2>
              <h2><span>04</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Site Survey/Permitting</h2>
              <h2><span>05</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Onsite Logistics</h2>
              <h2><span>06</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photography & Videography</h2>
            </div>
          </div>
        </div>
        <div id="page4" style="background-color: transparent;">
          <br><br><br>
          <p><span><img src="/css/icon.png" style="width: .7vw; padding-bottom: .25vw;"></span>&nbsp;&nbsp;&nbsp;Core Offerings:<br><span id="spam">(swipe to see more)</span></p>
          <br><br><br>
          <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <h3>Smart Infrastructure:</h3>
                    <br>
                    <img src="https://plus.unsplash.com/premium_photo-1685148902867-0d917a4d2a67?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%;">
                    <br>
                    <p>IntelliCity specializes in designing and implementing smart infrastructure solutions, including advanced sensor networks, IoT devices, and connectivity systems. These innovations form the backbone of a city's intelligent ecosystem, enabling real-time data collection and analysis.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3>Data Analytics:</h3>
                    <br>
                    <img src="https://media.istockphoto.com/id/966899060/photo/digital-signals-flying-over-highway-digital-transformation-internet-of-things.jpg?s=2048x2048&w=is&k=20&c=tQwiWiDszWoFOxtLAySItidg1skG_1rPLXz-Vtgi-ck=" style="width: 100%;">
                    <br>
                    <p>Leveraging the vast amounts of data generated by urban environments, our company excels in developing powerful analytics platforms. These platforms provide valuable insights into traffic patterns, energy consumption, waste management, and various other aspects crucial for efficient city planning.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3>Connectivity Solutions:</h3>
                    <br>
                    <img src="https://media.istockphoto.com/id/1459488773/photo/smart-city-and-communication-network-concept-5g-iot-telecommunication.jpg?s=2048x2048&w=is&k=20&c=gvwGgBLyrg9qXq4M1idjcf_uNC9YcWm5HcYYk1ra0Bg=" style="width: 100%;">
                    <br>
                    <p>IntelliCity understands the importance of robust connectivity in a smart city. We offer state-of-the-art solutions to ensure seamless communication between devices, enabling the development of interconnected services and applications that enhance the overall urban experience.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3>Sustainability Initiatives:</h3>
                    <br>
                    <img src="/css/download.png" style="width: 100%;">
                    <br>
                    <p>Committed to creating eco-friendly urban spaces, our company integrates sustainability solutions into smart city projects. This includes energy-efficient systems, waste reduction strategies, and the promotion of renewable energy sources, contributing to a greener and more sustainable future.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3>Smart Platforms:</h3>
                    <br>
                    <img src="/css/download1.jpeg" style="width: 100%;">
                    <br>
                    <p>IntelliCity places emphasis on citizen-centric solutions. We develop platforms that encourage active citizen participation, allowing residents to provide feedback, access information, and actively contribute to the decision-making processes within their communities.</p>
                  </div>
              </div>
  
          </div>
        </div>  
        <div style="height: 5vh;"></div>
      </div>
      <div id="page5">
            
      </div>
      <div id="full-scr">
          <div id="full-div1">

          </div>
      </div>
    </div>
    <%- include('./includes/footer.ejs'); %>
    <%- include('./includes/scripts.ejs'); %>
    <script>
      gsap.from('#spantitle', {
        opacity: 0.25,
        duration: 1,
        ease: "power1.in",
      })
    </script>
  </body>
</html> 