@font-face {
  font-family: neu;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: #000; */
  position: relative;
  z-index: 10;
}

#formh1 {
  font-size: 7vw;
  font-weight: 900;
}

#formp {

  width: 50%;
  border-right: 2px solid #000;
}

form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  border: 1px solid #545454;
  padding: 30px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: transparent;
  position: relative;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #545454;
  font-size: 1em;
  width: 100%;
  background: transparent;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: orange;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: red;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  position: relative;
  padding: 0 2vw;
}

#workpage1 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  position: relative;
  padding: 0 2vw;
}

.workinfodiv h1 {
  font-size: 25vw;
  letter-spacing: 1px;
  text-align: center;
}

#workpage2 {
  background: linear-gradient(#efeae3, #ff6f00);
  min-height: 100vh;
  width: 100%;
  padding: 0 2vw;
}

#workpage1 p {
  font-size: 2.5vw;
  position: relative;
  margin-left: 12vw;
  margin-right: 20vw;
  font-weight: 700;
  line-height: 37.5px;
}

.workinfodiv p {
  /* background-color: #FE320A; */
  font-size: 2.5vw;
  position: relative;
  margin-left: 6vw;
  margin-right: 32vw;
  font-weight: 700;
  line-height: 40px;
}

.workinfodiv h2 {
  margin-left: -10vw;
  padding: .5vw 2vw;
  /* text-decoration: 1px underline #c89867; */
  margin-top: 10px;
  font-weight: 100;
  font-size: 25px;
}

.workinfodiv span {
  margin-left: -5vw;
  font-weight: 100;
  color: #9d4d0a;
  font-size: 17px;
  padding: 2vw 0vw;
}

nav {
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 0.7vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
  display: flex; 
  align-items: center;
}

#nav-part2 h4:hover a {
  color: #fff;
}

nav h3 {
  display: none;
}

#center {
  height: 75vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

.worktitle span {
  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  justify-content: center;
  margin-left: 25vw;
  margin-top: 25%;
  z-index: 99;
  line-height: 9vw;
  letter-spacing: .01vw;
}

#page1 video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 77vh;
}

#hero-1 {
  background-color: #FE320A;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

#hero-2 {
  background: linear-gradient(#FE320A, #fe3f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}

#hero-3 {
  background: linear-gradient(#FE320A, #fe3f0a);
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
      transform: translate(55%, -3%);
  }

  to {
      transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
      transform: translate(5%, -5%);
  }

  to {
      transform: translate(-20%, 30%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 8vw 0;
  position: relative;
}

#moving-text {
  overflow-x: auto;
  white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
  /* background-color: lightblue; */
  display: inline-block;
}

#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #FE320A;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  /* background-color: aliceblue; */
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-part2 {
  width: 20%;
  /* background-color: aqua; */
}

#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}

#bottom-part2 p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  /* background: linear-gradient(to top right,red,blue); */


  top: 58%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

#workgooey {
  height: 37vw;
  width: 37vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff0303, #ff890b);
  top: 27%;
  left: 10%;
  filter: blur(10px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

#formgooey {
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff0303, #ff890b);
  top: 25%;
  left: 40%;
  filter: blur(10px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}




#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 4vw 0;
}

.elem {
  height: 130px;
  width: 100%;
  position: relative;

  border-bottom: 1px solid #38383864;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}



#fixed-image {
  height: 30vw;
  width: 24vw;
  /* background-color: red; */
  border-radius: 15px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 10vw 2vw;
}

#page4 p {
  font-size: 1.5vw;
  font-weight: 100;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #cc5e06;
  padding: 0 2vw;
}

.swiper-slide h3 {
  font-size: 2vw;
  font-weight: 500;
}

.swiper-slide img {
  border-radius: 25px;
}

.swiper-slide p {
  margin-top: 1vw;
  font-size: 1.3vw;
  font-weight: 100;
  /* border-radius: 25px; */
}


#page5 {
  height: 120vh;
  width: 100%;
  display: flex;
  /* background-color: #EFEAE3; */
}

#footer-div p {
  margin-left: 58%;
  margin-right: 5%;
  font-family: neu;
  color: white;
  margin-right: 2vw;
  font-weight: 100;
  font-size: 1.5vw;
  line-height: 2vw;
}

#footer {
  position: fixed;
  height: 105vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  z-index: 9;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 23vw;
}

#footer-div {
  margin-top: 5%;
  margin-left: 6%;
  height: 20vh;
  width: 100%;
  /* background-color: red; */
  z-index: 10;
  display: flex;
  align-items: center;
}

#footer-div a {
  z-index: 15;
  text-decoration: none;
  color: #fff;
  font-size: 2.2vw;
  line-height: 3vw;

}

#footer-div a:hover {
  color: #F4AB99;
}

.gooey1 {
  height: 27vw;
  width: 50vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -10%;
  left: -25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.gooey2 {
  height: 17vw;
  width: 80vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -10%;
  left: 0%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.gooey3 {
  height: 15vw;
  width: 25vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: 0%;
  left: 10%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}
.gooey4 {
  height: 16vw;
  width: 35vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -5%;
  right: 10%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.gooey5 {
  height: 35vw;
  width: 35vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -10%;
  right: -25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.gooey6 {
  height: 15vw;
  width: 55vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -5%;
  right: 0%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.gooey7 {
  height: 20vw;
  width: 40vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: -2%;
  right: -15%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}


#footer-bottom {
  border-top: 1px solid #aeaeae;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-bottom a {
  text-decoration: none;
  color: #fff;
}

#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.5s;
}

#full-div1 {
  height: 50%;
  width: 100%;
  background-color: #EFEAE3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

#formdiv {
  display: flex; 
  align-items: center;
}

#spam {
  font-size: 1vw; 
  font-weight: 100; 
  margin-left: 1.4vw;
}

#worktdiv {
  display: flex; 
  align-items: center;
}

#worktdiv img {
  border-radius: 20px; 
  position: relative; 
  height: 50vh; 
  width: 20vw; 
  margin-left: 4vw;
}

#divwork {
  display: flex;
}


@media (max-width:600px) {

  #page1 {
      min-height: 100vh;
      width: 100vw;
      padding: 0 0vw;
  }

  nav {
      padding: 8vw 5vw;
      background-color: #EFEAE3;
      /* padding: 0 5vw; */
  }

  nav img {
      transition: all ease 0.2s;
      height: 5vh;
      width: 15vw;
  }

  #nav-part2 {
      display: flex;
      flex-direction: column;
      opacity: 0;
      margin-bottom: 0vw;
  }

  /* #nav-part2 h4 a{
    padding: 10px 20px;
  border: transparent;
  font-weight: 900;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 28px;
  overflow: hidden;
  } */

  nav h3 {
      display: block;
      padding: 3vw 5vw;
      border: 1px solid #ababab;
      border-radius: 50px;
      font-size: 4vw;
      font-weight: 200;
      padding-left: 10vw;
  }

  #center {
      height: 62vh;
      width: 100%;
      /* background-color: orange; */
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid #0000003c;
      padding: 7vw 5vw;
      padding-bottom: 10vw;
      flex-direction: column-reverse;
      position: relative;
      z-index: 9;
  }

  #left h3 {
      width: 80%;
      font-size: 5.5vw;
      line-height: 6vw;
  }

  #center h1 {
      font-size: 17vw;
      text-align: right;
      line-height: 15vw;
  }

  #page1 video {
      position: relative;
      border-radius: 15px;
      margin-top: 4vw;
      height: 70vh;
      object-fit: cover;
      object-position: center;
      width: 92%;
      margin-left: 4%;
  }

  #page2 {
      min-height: 100vh;
      width: 100%;
      background-color: #EFEAE3;
      padding: 8vw 0;
      position: relative;
  }

  #moving-text {
      overflow-x: auto;
      white-space: nowrap;
  }

  #moving-text::-webkit-scrollbar {
      display: none;
  }

  .con {
      white-space: nowrap;
      display: inline-block;
      animation-name: move;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }

  #moving-text h1 {
      font-size: 15vw;
      /* background-color: lightblue; */
      display: inline-block;
  }

  #gola {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-block;
      background-color: #FE320A;
      margin: 2vw 2vw;
  }

  #page2-bottom {
      height: 90vh;
      width: 100%;
      /* background-color: aliceblue; */
      padding: 10vw 4vw;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      z-index: 9;
  }

  #page2-bottom h1 {
      font-size: 8.2vw;
      width: 100%;
      line-height: 9vw;
  }

  #bottom-part2 {
      width: 80%;
      /* background-color: aqua; */
  }

  #bottom-part2 img {
      width: 100%;
      margin-top: 10vw;
      border-radius: 10px;
  }

  #bottom-part2 p {
      font-weight: 700;
      margin-top: 7vw;
      font-size: 5vw;
  }

  #fixed-image {
    height: 55vw;
    width: 44vw;
  }

  .elem {
    height: 100px;
  }

  .elem h2 {
    font-size: 7vw;
  }

  #page4 p {
    font-size: 5vw;
    font-weight: 100;
  }

  #spam {
    font-size: 4vw;
  }

  .swiper-slide {
    width: 70%;
  }

  .swiper-slide h3 {
    font-size: 6vw;
    margin-bottom: 1vw;
  }

  .swiper-slide p {
    margin-top: 1.5vw;
  }

  #page3 {
    min-height: 50vh;
  }

  #page4 {
    min-height: 80vw;
  }

  #page5 {
    height: 40vh;
  }

  #footer-div p {
    margin-left: 15%;
    margin-right: 1%;
    font-size: 3.5vw;
    line-height: 4vw;
  }

  #footer-div a {
    font-size: 5vw;
    line-height: 3vw;
  
  }

  .gooey1 {
    height: 40vw;
    width: 100vw;
    top: 55%;
    left: -25%;
  }
  
  .gooey2 {
    height: 30vw;
    width: 100vw;
    top: 60%;
    left: 0%;
  }
  
  .gooey3 {
    height: 70vw;
    width: 70vw;
    top: 40%;
    left: 50%;
 
  }

  #workgooey {
    height: 60vw;
    width: 60vw;
    top: 33%;
    left: 50%;
  }

  .worktitle {
    margin-top: -20vw;
  }

  .worktitle span {
    font-size: 15vw;
    margin-left: 0vw;
    margin-top: 25%;
    line-height: 15vw;
  }
  
  #worktdiv {
    display: block; 
  }

  #worktdiv img {
    height: 25vh;
    width: 40vw;
  }

  #workpage1 p {
    font-size: 5vw;
    margin-left: 4vw;
    line-height: 30.5px;
    margin-top: 5vw;
  }

  #divwork {
    display: block;
  }

  .workinfodiv p {
    font-size: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: 900;
    line-height: 30px;
}

  .workinfodiv h2 {
    margin-left: 5vw;
    margin-top: 17px;
  }
  #page2 #gooey {
      height: 62vw;
      width: 62vw;
      position: absolute;
      border-radius: 50%;
      background: linear-gradient(to top right, #ff2d03, #ff5c0b);
      /* background: linear-gradient(to top right,red,blue); */


      top: 58%;
      left: 25%;
      filter: blur(20px);
      animation-name: gooey;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;

  }


}

#loader{
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1{
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right,orange,orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2){
  animation-delay: 1.6s;
}
#loader h1:nth-child(3){
  animation-delay: 2.2s;
}

@keyframes load {
  0%{
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  90%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@media (max-width:600px) {
  #loader h1{
      font-size: 9vw;
    
  }
}